.container {
  min-height: 100vh;
}

p,
span {
  font-family: "Montserrat", sans-serif;
}

/****  Login ja Register ****/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  text-align: center;
}
.formGroup {
  margin: 5px 0;
}
.g-button {
  color: #fff !important;
  border: 1px solid rgb(73, 79, 82);
  background: rgb(73, 79, 82) !important;
  width: 100%;
  font-weight: 600;
  color: #fff;
  padding: 8px 25px;
}
.my-input {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  cursor: text;
  padding: 8px 10px;
  transition: border 0.1s linear;
}
.header-title {
  margin: 5rem 0;
  text-decoration: none;
}
h2 {
  color: #5e8396;
  font-size: 21px;
  line-height: 32px;
  font-weight: 400;
}
.login-or {
  position: relative;
  color: #aaa;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.hr-or {
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

/****Shop sivulla olevat add to cart ja details ****/
.buttonsCol {
  float: right;
}
.shopButton {
  background-color: rgb(105, 148, 170) !important;
  color: #fff !important;
  font-family: "Montserrat", sans-serif;
}

/**** Single Product Page ****/
.kuvaDiv {
  text-align: center;
  margin: auto 0;
}

.arrowStyle {
  font-size: 1.6rem;
  text-decoration: none;
  color: rgb(73, 79, 82);
}

.contentRow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 30px !important;
  padding: 30px 0;
}

/**** Header ****/
.NavStyle {
  color: #fff;
  text-decoration: none;
}

.navStyle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* min-height: 10vh; */
  background: rgb(73, 79, 82);
  color: #fff;
  padding: 0.1rem;
  text-decoration: none;
}

.navLinks {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: auto 0;
}

/***Kaikki tuotteet***/
.imgSize {
  width: 120px !important;
  margin: 0 auto;
  padding: 10px 0;
  height: 150px;
}

.cardStyle {
  height: 97%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px 0;
}
